{% extends "layout.html" %}
{% block body %}
<script src="http://d3js.org/d3.v2.js"></script>

<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.x.axis text{
  font-size: 8px;
  font-weight: bold;
}

</style>
<script>

var margin = {top: 20, right: 20, bottom: 50, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .rangeRound([height, 0]);

var color = d3.scale.ordinal()
    .range(["#ff4444", "#8a89a6", "#7bff88"]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .ticks(12);

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

//d3.csv("data.csv", function(error, data) {
var data=[
  {% for entry in entries %}
    {"Hour":"{{ entry.hour }}","normal":"{{ entry.normal }}","bounce":"{{ entry.bounce }}","autoreplied":"{{ entry.autoreplied }}"},
  {% endfor %}
  ]
  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "Hour"; }));

  data.forEach(function(d) {
    var y0 = 0;
    d.emails = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
    d.total = d.emails[d.emails.length - 1].y1;
  });

  //data.sort(function(a, b) { return b.total - a.total; });

  x.domain(data.map(function(d) { return d.Hour; }));
  y.domain([0, d3.max(data, function(d) { return d.total; })]);

  var xxaxis = svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);
    
  xxaxis.selectAll("text")
      .attr("transform", function(d) {
        return "rotate(45)translate("+this.getBBox().height*2 + ",0)";
      });

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("emails");

  var hour = svg.selectAll(".hour")
      .data(data)
    .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { return "translate(" + x(d.Hour) + ",0)"; });

  hour.selectAll("rect")
      .data(function(d) { return d.emails; })
    .enter().append("rect")
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.y1); })
      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
      .style("fill", function(d) { return color(d.name); });

  var legend = svg.selectAll(".legend")
      .data(color.domain().slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });

//});

var timeout = setTimeout("location.reload(true);",600000);

</script>

{% endblock %}
